*{
    padding: 0;
    margin: 0;
}

:root{
	--background: #141414;
	--text-color: #fff;
	--primary-color: #63ff69;
	--secondary-color: #000;
	--alpha-color: rgba(0, 0, 0, 0.5);
	--shadow: 0 15px 40px var(--alpha-color);
}


html{
	background: var(--background);
	display: flex;
	justify-content: center;
}

main{
    margin:12rem;
}

/*body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/images/bg-moving.gif');
}*/

body{
    display: flex;
	width: 100%;
	height: 100vh;
    padding: 0;
    margin: 0;
	/*max-width: 375px;*/
	position: relative;
	background: var(--background);
	font-family: 'roboto', sans-serif;
	color: var(--text-color);
	background-image: linear-gradient(rgba(128,128,128,0.2),rgba(128,128,128,0.1)), url("../assets/images/bg-moving.gif");
	background-position: center;
	background-size: cover;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

#navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    margin: 0 5px;
}

#navbar a:hover{
    color: black;
}


#song-input-options-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #666;
    border-radius: 5px;
    width: 50vw;
    height: 50vh;
}

.option-btn{
    background-color: #222; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0.5em;
    width: 60%;
}

#song-input-container,
#playlist-input-container {
    background-color: #ababab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    height: 20em;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    width: 30vw;
    margin-top:20vh;



}

#song-form,
#playlist-form {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 20vw;
    background-color:#888;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.song-input-item,
.playlist-input-item,#song-file-input {
    border-radius: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 90%;
    border-width: 1px;
}

#add-song-btn,
#add-playlist-btn {
    width: 90%;
    height: 30px;
}

#validation-toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#validation-toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}






