* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100vw;
}

nav {
    width: 720px;
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 720px;
    height: 860px;
    margin: 16px;
    padding: 16px;
}

.playlist-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    height: 80px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 4px;
}

.playlist-list-item img {
    width: 80px;
    height: 80px;
}

.playlist-list-item-details {
    width: 360px;
}