* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100vw;
}

nav {
    width: 720px;
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 860px;
    margin: 16px;
    padding: 16px;
}